<!doctype html>
<html>
	<head>
		<title>Las Islas Galápagos</title>
	</head>
	<body>	
			
		<!-- Cabecera -->
		<header> 
			<div id="div1">
				<center>
					<a href="Index.html">
					<br>
						<img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\EcuadorAndGalapagos.png"
							width="300" height="130" alt="texto alternativo de la imagen" />
					</a>
					<h1>Las Islas Galápagos</h1>
				</center>
			</div>
		</header>
		
		<!-- Navegacion -->
		<nav>
			<div id="div2">
			  <ul>
				<li><a href="../Index.html">Index</a></li>
				<li><a href="historial.html">Historia</a></li>
				<li><a href="flora.html">Flora de galapagos</a></li>
				<li><a href="fauna.html">Fauna de galapagos </a></li>
				<li><a href="ecuador.html">4 razones para viajar a las Islas Galápagos desde Ecuador</a></li>
				<li><a href="turismo.html">Turismo</a></li>
			  </ul>
			</div>
		</nav>
		
		<!-- Secion 1 -->
		<section>
<div id="div3">	
<center><h2>4 razones para viajar a las Islas Galápagos desde Ecuador</h2></center>
  <p>Hay muchos factores que hacen que las Islas Galápagos sean únicas. Hablemos de 4 de ellos.</p>
  <article><div id="divsub1">
  <center><h3>4 cosas que hacen que las Islas Galápagos sean únicas</h3></center>
<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\travel.jpg"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>

<ul id="items">
<p>El resto de fauna terrestre como:</p>
<li>Ubicación remota</li>
<li>Corrientes oceánicas y clima único</li>
<li>Especies endémicas</li>
<li>Belleza de las islas</li>
</ul>

<h2>1. Ubicación remota de las Islas Galápagos</h2>	
<p>Las islas Galápagos se encuentran a más de 600 millas (aproximadamente 1000 km) del territorio continental de Ecuador. 
Se encuentran entre las 13 islas más remotas del mundo. Lea más sobre  la isla Floreana.<dr></p>
<p>La vida vegetal y animal se ha desarrollado de una manera única debido a este aislamiento geográfico. Principalmente porque se han quedado solos.<dr></p>
<h2>2. Corrientes oceánicas y clima único</h2>
<p>La abundancia de vida submarina hace de las Islas Galápagos un destino de lista de deseos para buceadores y buceadores.<dr></p>

<h4>Las 3 corrientes principales que afectan a las Islas Galápagos son:</h4>
			<center><table id = "tabla" border="1">
  			<tr>
    			<th scope="col">corrientes</th>
   			<th scope="col">Descripcion</th>
  			</tr>

 			<tr>
    			<td>iguanas terrestre</td>
    			<td>iguanas marina</td>
  			</tr>

 			<tr>
    			<td>lobo de dos pelos</td>
    			<td>albatros de galápagos</td>
  			</tr>

  			<tr>
   		       <td>gavilán de galápagos</td>
   		       <td>tortuga gigante</td>
 			</tr>

 			<tr>
    			<td>garza de lava</td>
    			<td>ballena jorobada</td>
  			</tr>

  			<tr>
   		       <td>gaviotas de cola bifurcada</td>
   		       <td>flamingo</td>
 			</tr></center>

		  </table>
	<center><h4>ISLAS GALÁPAGOS - FLORA Y FAUNA ECUADOR<dr></h4></center>
	<center><iframe width="560" height="315" src="https://www.youtube.com/embed/9YTnCMarim4" 
	frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
	 allowfullscreen></iframe></center>


</div></article>
	 <aside><div id="divsub2">
             <center><h3>Contenido</h3></center>
           
             <center><p>El gran interés científico y turístico a nivel mundial por este archipiélago ha sido originado, por la facilidad para observar
		 diferentes especies de una fauna variada que incluye a la tortuga gigante.</p></center>
	    
	</div></aside>

	 <aside><div id="divsub3">
		<center><h3>Contenido</h3></center>
     		 <center><p>La iguana marina es también de suma importancia, por constituir el único reptil adaptado a la vida del mar. El gran número y variedad 
	de aves constituyen un gran interés para científicos y turistas, alrededor de 56 variedades habitan el archipiélago, de las cuales cerca de 27 se encuentran 
	sólo en Galápagos y algunas son endémicas de una sola isla.</p></center>
	</div></aside>
</div></section>

<section> <div id="div4">
 <article><div id="subdiv6">
  <center><h2>Las islas Galápagos están consideradas</h2></center>
  <p>Las islas Galápagos están consideradas como el mayor laboratorio natural del mundo. Antes de Darwin, la teoría de la inmunidad de las especies no era cuestionada.
    La teoría de la evolución de Darwin cambió el panorama científico.<br></p>
<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\mapa.jpg"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>

</div></article>
<aside>
	<div id="divsub4">
        <center><h3>Contenido</h3></center>
	<p>Se estima que tanto la flora como la fauna no son originarias de las islas, sino que fueron transportadas desde el continente. Semillas o esporas que han pasado de una isla a otra han originado especies enteramente nuevas donde se ha repetido el proceso de evolución.</p>
	</div>
	</aside>
</div></section>
		
		<!-- Secion 2 -->
		<section>

				<article>
				 
				</article>
				<aside>

				</aside>

		</section>
		
		<!-- Secion Footer -->
		<footer> 
			<div id="div5">
			  <address>
				<center><br>
					Autor: Monica Ptricia Morocho Medina<br> 
					Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec</a><br>
				    Careera: Ing. Sistemas<br> 
					Tel. <a href="tel:2476155">2476155</a>
				</center>
			  </address>
			  <center><p> © Copyright | Totos los derechos reservados</p></center>
			</div>
		</footer>

	</body>
</html>