<!doctype html>
<html>
	<head>
		<title>Las Islas Galápagos</title>
	</head>
	<body>
			
		<!-- Cabecera -->
		<header> 
			<div id="div1">
				<center>
					<a href="Index.html">
					<br>
						<img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\EcuadorAndGalapagos.png"
							width="300" height="130" alt="texto alternativo de la imagen" />
					</a>
					<h1>Las Islas Galápagos</h1>
				</center>
			</div>
		</header>
		
		<!-- Navegacion -->
		<nav>
			<div id="div2">
			  <ul>
				<li><a href="../Index.html">Index</a></li>
				<li><a href="historial.html">Historia</a></li>
				<li><a href="flora.html">Flora de galapagos</a></li>
				<li><a href="fauna.html">Fauna de galapagos </a></li>
				<li><a href="ecuador.html">4 razones para viajar a las Islas Galápagos desde Ecuador</a></li>
				<li><a href="turismo.html">Turismo</a></li>
			  </ul>
			</div>
		</nav>
		
		<section>
<div id="div3">	
<center><h2>Flora - Galapagos</h2></center>
  <article><div id="divsub1">
  <center><h3></h3></center>
<p>Se han identificado en el Archipiélago 220 especies de plantas endémicas, 399 nativas y 119 introducidas; esta flora fue transportada por los vientos, el mar, el hombre o bien por las propias aves que emigraron 
desde el continente llevando en sus plumas, patas y picos algunas semillas y esporas que pudieron germinar en el suelo insular, modificando, con el transcurrir del tiempo, su propia estructura y fisiología como 
resultado de su aclimatación al nuevo medio de vida. Debido a estas adaptaciones algunas especies de las islas son únicas en el mundo, y muchas son similares a las del continente americano.<dr></p>
	
<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\im14.jpg"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>
<p>En la zona húmeda baja crecen grandes helechos y otras variedades siempre verdes:<dr><p>
<ul id="items">
	<li>matasanos</li>
	<li>uñas de gato</li>
	<li>musgos</li>
	<li>hongos</li>
	<li>huaicundos.</li> 
	<li>Abunda el árbol de la guayaba u otras especies del páramo andino.</li>
</ul>

<p>En la zona húmeda alta (entre 200 y 500 mts. de altura) crecen:<dr><p>
<ul id="items">
	<li>el guayabillo</li>
	<li>pasiflora</li>
	<li>cafetillo</li>
</ul>

<center><h2>Descripción Breve</h2></center>	
			<table id = "tabla" border="1">
  			<tr>
    			<th scope="col">Fecha</th>
   			<th scope="col">Participantes</th>
    			<th scope="col">Cargo</th>
			<th scope="col">Embarque</th>
  			</tr>

 			<tr>
    			<td>1593</td>
    			<td>Fray Tomás de Berlanga</td>
    			<td>cuarto obispo de Panamá</td>
			<td>El barco de De Berlanga</td>
  			</tr>

 			<tr>
    			<td>1793</td>
    			<td>James Colnett </td>
    			<td>describió la flora y la fauna de Galápagos</td>
			<td>El barco de De Berlanga</td>
  			</tr>

  			<tr>
   		       <td>1807 a 1809</td>
   		       <td>Patrick Watkins </td>
   		       <td>marinero irlandés</td>
		       <td>-</td>
 			</tr>

 			<tr>
    			<td>1818</td>
    			<td>Nantucket Globe</td>
    			<td>Ballenero</td>
			<td>-</td>
  			</tr>

  			<tr>
   		       <td>octubre de 1820</td>
   		       <td>Essex</td>
   		       <td>Ballenero</td>
		       <td>-</td>
 			</tr>

		  </table>
	<center><h4>Misterios de la Historia - Capítulo 57: Las Islas Galápagos<dr></h4></center>
	<center><iframe width="560" height="315" 
	src="https://www.youtube.com/embed/FrWYSeOY_Lo" frameborder="0" 
	allow="accelerometer; autoplay; encrypted-media; gyroscope; 
	picture-in-picture" allowfullscreen></iframe></center>


</div></article>
	 <aside><div id="divsub2">
             <center><h3>Contenido</h3></center>
             <ul>
             <p>En las islas mayores de Galápagos se han establecido cuatro zonas ecológicas: del litoral, baja o seca, de transición y húmeda.</p>
	     </ul>
	</div></aside>

	 <aside><div id="divsub3">
		<center><h3>Contenido</h3></center>
     		 <p>En la primera se encuentra especies como arrayancillo, mangle como el rojo, jelí y blanco y monte salado. En la segunda zona crecen el cactus, palo santo, algarrobo, manzanillo, chala, y muyuyo.</p>
	</div></aside>
</div></section>

<section> <div id="div4">
 <article><div id="subdiv6">
  <center><h2></h2></center>
  <p>En la zona de transcisión se presentan árboles de mayor altura, platas epifitas y hierbas perennes. Entre las variedades más conocidas están la uña de gato y la espuela de gallo.<br></p>
  <p>Y en la parte húmeda existe el cogojo, guayabillo, uña de gato, cafetillo, pasiflora y algunos tipos de musgo, helechos y hongos. La flora abarca un total de 932 especies, 7 maderables y 925 no maderables<br></p>
  <p>Las especies endémicas únicamente localizadas en la región, comprende una población faunística de 77 tipos de aves, 60 de peces y 233 del reino vegetal.<br></p>
<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\im13.jpg"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>

</div></article>
<aside>
	<div id="divsub4">
        <center><h3>Contenido</h3></center>
<p>Se estima que tanto la flora como la fauna no son originarias de las islas, sino que fueron transportadas desde el continente. Semillas o esporas que han pasado de una isla a otra han originado especies enteramente nuevas donde se ha repetido el proceso de evolución.</p>
	</div>
	</aside>
</div></section>
		
		<!-- Secion Footer -->
		<footer> 
			<div id="div5">
			  <address>
				<center><br>
					Autor: Monica Ptricia Morocho Medina<br> 
					Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec</a><br>
				    Careera: Ing. Sistemas<br> 
					Tel. <a href="tel:2476155">2476155</a>
				</center>
			  </address>
			  <center><p> © Copyright | Totos los derechos reservados</p></center>
			</div>
		</footer>

	</body>
</html>