<!doctype html>
<html>
	<head>
		<title>Las Islas Galápagos</title>
	</head>
	<body>
			
		<!-- Cabecera -->
		<header> 
			<div id="div1">
				<center>
					<a href="Index.html">
					<br>
						<img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\EcuadorAndGalapagos.png"
							width="300" height="130" alt="texto alternativo de la imagen" />
					</a>
					<h1>Las Islas Galápagos</h1>
				</center>
			</div>
		</header>
		
		<!-- Navegacion -->
		<nav>
			<div id="div2">
			  <ul>
				<li><a href="../Index.html">Index</a></li>
				<li><a href="historial.html">Historia</a></li>
				<li><a href="flora.html">Flora de galapagos</a></li>
				<li><a href="fauna.html">Fauna de galapagos </a></li>
				<li><a href="ecuador.html">4 razones para viajar a las Islas Galápagos desde Ecuador</a></li>
				<li><a href="turismo.html">Turismo</a></li>
			  </ul>
			</div>
		</nav>
		
<section>
<div id="div3">	
<center><h2>Historia</h2></center>
  <article><div id="divsub1">
  <center><h3>Era precolombina</h3></center>
<p>Según un estudio de 1952 realizado por Thor Heyerdahl y Arne Skjølsvold, los tiestos y otros artefactos de varios sitios en las islas sugieren la visita de pueblos sudamericanos en la era precolombina .<dr></p>
<p>El grupo localizó una flauta inca y fragmentos de más de 130 piezas de cerámica, que luego se identificaron como preincaicas.<dr><p>	
<p>No está claro quiénes fueron los primeros visitantes de las islas, pero probablemente fueron marineros desviados del curso o personas en desventurados barcos de pesca que se lanzaron al mar.<dr><p>	 
<p>Si los Incas alguna vez llegaron aquí está en disputa; en 1572, el cronista español Pedro Sarmiento de Gamboa afirmó que Topa Inca Yupanqui.<dr><p>	 
	
<center><h3>Viajes europeos</h3></center>
<p>El descubrimiento europeo de las Islas Galápagos ocurrió cuando el español Fray Tomás de Berlanga , el cuarto obispo de Panamá , navegó a Perú para resolver una disputa entre Francisco Pizarro y sus lugartenientes.
El barco de De Berlanga se desvió cuando los vientos disminuyeron, y su grupo llegó a las islas el 10 de marzo de 1535.<dr><p>

<ul id="items">
	<li>Las islas fueron nombradas "Insulae de los Galopegos" (Islas de las Tortugas) en referencia a las tortugas gigantes encontradas allí</li>
	<li>El primer capitán inglés en visitar las Islas Galápagos fue Richard Hawkins , en 1593.</li>
	<li>Hasta principios del siglo XIX, el archipiélago fue utilizado a menudo como escondite por piratas en su mayoría ingleses.</li>
	<li>El primer residente humano permanente conocido en Galápagos fue Patrick Watkins , un marinero irlandés.</li>
</ul>

	<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\Islands.jpg"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>

<center><h2>Descripción Breve</h2></center>	
			<table id = "tabla" border="1">
  			<tr>
    			<th scope="col">Fecha</th>
   			<th scope="col">Participantes</th>
    			<th scope="col">Cargo</th>
			<th scope="col">Embarque</th>
  			</tr>

 			<tr>
    			<td>1593</td>
    			<td>Fray Tomás de Berlanga</td>
    			<td>cuarto obispo de Panamá</td>
			<td>El barco de De Berlanga</td>
  			</tr>

 			<tr>
    			<td>1793</td>
    			<td>James Colnett </td>
    			<td>describió la flora y la fauna de Galápagos</td>
			<td>El barco de De Berlanga</td>
  			</tr>

  			<tr>
   		       <td>1807 a 1809</td>
   		       <td>Patrick Watkins </td>
   		       <td>marinero irlandés</td>
		       <td>-</td>
 			</tr>

 			<tr>
    			<td>1818</td>
    			<td>Nantucket Globe</td>
    			<td>Ballenero</td>
			<td>-</td>
  			</tr>

  			<tr>
   		       <td>octubre de 1820</td>
   		       <td>Essex</td>
   		       <td>Ballenero</td>
		       <td>-</td>
 			</tr>

		  </table>
	<center><h4>Misterios de la Historia - Capítulo 57: Las Islas Galápagos<dr></h4></center>
	<center><iframe width="560" height="315" 
	src="https://www.youtube.com/embed/6Ocmh6-YJqM" 
	frameborder="0" allow="accelerometer; autoplay; 
	encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe></center>


</div></article>
	 <aside><div id="divsub2">
             <center><h3>Contenido</h3></center>
             <ul>
             <li>Las Islas Galápagos forma parte de la República de Ecuador</li>
	     <li>Breve Historia</li>
	     <li>Ecuador: el cambio climático amenaza el paraíso natural de Islas Galápagos | Global 3000</li>
             </ul>
	</div></aside>

	 <aside><div id="divsub3">
		<center><h3>Datos geográficos</h3></center>
     		 <table id = "tabla1" >
  			<tr>
    			<th scope="col">Ubicación</th>
   			<th scope="col">océano Pacífico</th>
  			</tr>

   			<tr>
    			<td>Coordenadas</td>
   			<td>0 ° 40'S 90 ° 33</td>
  			</tr>

   			<tr>
    			<td>Islas totales</td>
   			<td>21</td>
  			</tr>

   			<tr>
    			<td>Islas principales</td>
   			<td>18 años</td>
  			</tr>

   			<tr>
    			<td>Zona</td>
   			<td>3.040 millas cuadradas</td>
  			</tr>

   			<tr>
    			<td>Elevación más alta</td>
   			<td>5.600 pies</td>
  			</tr>

   			<tr>
    			<td>Punto mas alto</td>
   			<td>Volcán lobo</td>
  			</tr>
</table>


	</div></aside>
</div></section>

<section> <div id="div4">
 <article><div id="subdiv6">
  <center><h2>Galápagos ecuatorianos</h2></center>
  <p>Ecuador anexó las Islas Galápagos el 12 de febrero de 1832, nombrándolas Archipiélago de Ecuador.<br></p>
  <p>Este nuevo nombre se agregó a varios nombres que habían sido, y aún se usan, para referirse al archipiélago.
 El primer gobernador de Galápagos, el general José de Villamil, trajo un grupo de convictos para poblar la isla 
de Floreana, y en octubre de 1832, algunos artesanos y agricultores se unieron a ellos.<br></p>

<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\cruz.jfif"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>

</div></article>
<aside>
	<div id="divsub4">
        <center><h3>Contenido</h3></center>
<p>El primer gobernador de Galápagos, el general José de Villamil, trajo un grupo de convictos para poblar la isla de Floreana, y en octubre de 1832, algunos artesanos y agricultores se unieron a ellos.</p>
	</div>
	</aside>
</div></section>
		
		<!-- Secion Footer -->
		<footer> 
			<div id="div5">
			  <address>
				<center><br>
					Autor: Monica Ptricia Morocho Medina<br> 
					Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec</a><br>
				    Careera: Ing. Sistemas<br> 
					Tel. <a href="tel:2476155">2476155</a>
				</center>
			  </address>
			  <center><p> © Copyright | Totos los derechos reservados</p></center>
			</div>
		</footer>

	</body>
</html>