<!doctype html>
<html>
	<head>
		<title>Las Islas Galápagos</title>
	</head>
	<body>
			
		<!-- Cabecera -->
		<header> 
			<div id="div1">
				<center>
					<a href="Index.html">
					<br>
						<img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\EcuadorAndGalapagos.png"
							width="300" height="130" alt="texto alternativo de la imagen" />
					</a>
					<h1>Las Islas Galápagos</h1>
				</center>
			</div>
		</header>
		
		<!-- Navegacion -->
		<nav>
			<div id="div2">
			  <ul>
				<li><a href="C:/Users/Monik/Documents/Hypermedial/Index.html">Index</a></li>
				<li><a href="C:/Users/Monik/Documents/Hypermedial/historial.html">Historia</a></li>
				<li><a href="C:/Users/Monik/Documents/Hypermedial/flora.html">Flora de galapagos</a></li>
				<li><a href="C:/Users/Monik/Documents/Hypermedial/fauna.html">Fauna de galapagos </a></li>
				<li><a href="C:/Users/Monik/Documents/Hypermedial/ecuador.html">4 razones para viajar a las Islas Galápagos desde Ecuador</a></li>
				<li><a href="C:/Users/Monik/Documents/Hypermedial/turismo.html">Turismo</a></li>
			  </ul>
			</div>
		</nav>
		
		<!-- Secion 1 -->
		<section>

			 <article> </article>
			 <aside> </aside>
			 <aside> </aside>

		</section>
		
		<!-- Secion 2 -->
		<section>

				<article>
				 
				</article>
				<aside>

				</aside>

		</section>
		
		<!-- Secion Footer -->
		<footer> 
			<div id="div5">
			  <address>
				<center><br>
					Autor: Monica Ptricia Morocho Medina<br> 
					Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec</a><br>
				    Careera: Ing. Sistemas<br> 
					Tel. <a href="tel:2476155">2476155</a>
				</center>
			  </address>
			  <center><p> © Copyright | Totos los derechos reservados</p></center>
			</div>
		</footer>

	</body>
</html>