<!doctype html>
<html>
	<head>
		<title>Las Islas Galápagos</title>
	</head>
	<body>
			
		<!-- Cabecera -->
		<header> 
			<div id="div1">
				<center>
					<a href="Index.html">
					<br>
						<img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\EcuadorAndGalapagos.png"
							width="300" height="130" alt="texto alternativo de la imagen" />
					</a>
					<h1>Las Islas Galápagos</h1>
				</center>
			</div>
		</header>
		
		<!-- Navegacion -->
		<nav>
			<div id="div2">
			  <ul>
				<li><a href="../Index.html">Index</a></li>
				<li><a href="historial.html">Historia</a></li>
				<li><a href="flora.html">Flora de galapagos</a></li>
				<li><a href="fauna.html">Fauna de galapagos </a></li>
				<li><a href="ecuador.html">4 razones para viajar a las Islas Galápagos desde Ecuador</a></li>
				<li><a href="turismo.html">Turismo</a></li>
			  </ul>
			</div>
		</nav>
		
		<section>
<div id="div3">	
<center><h2>Hacer turismo en las Islas Galápagos</h2></center>
<p>Para los amantes de la naturaleza y la aventura, no podría existir un destino turístico más 
emocionante que las Islas Galápagos. Este hermoso archipiélago, ubicado muy cerca de la costa de 
Ecuador, es uno de esos lugares obligatorios que tenemos que visitar al menos una vez en la vida.<dr></p>
 
 <article><div id="divsub1">
  <center><h3>Galápagos "Las Islas Encantadas"</h3></center>
<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\turismo.jpg"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>

<p>La Reserva Marina de Galápagos, la segunda más grande del mundo, contienen el último arrecife de coral,
 sus aguas poseen la mayor biomasa de tiburones del planeta y reciben la única migración de tiburones ballena 
en estado de gestación.<dr></p>

<p>La zona entre las islas de Darwin y Wolf está considerada la mejor del mundo para la práctica del buceo 
deportivo porque permite el avistamiento de un gran número de especies autóctonas.<dr></p>

<h2>Ciudades importantes:</h2>
<ul id="items">
<p>Las más importantes son:</p>
	<li>Puerto Ayora</li>
	<li>Puerto Baquerizo Moreno </li>
	<li>Puerto Villamil</li>
</ul>

<h2>Qué ver en Galápagos: sitios y lugares turísticos</h2>
<p>Galápagos posee una fauna terrestre y marina muy diversa e impresionante como:</p>	

			<center><table id = "tabla" border="1">
  			<tr>
    			<th scope="col">Turismo - Naturaleza</th>
   			<th scope="col">Áreas protegidas.</th>
  			</tr>

 			<tr>
    			<td>Islas</td>
    			<td>Parque Nacional Galápagos</td>
  			</tr>

 			<tr>
    			<td></td>
    			<td>Reserva Marina de Galápagos.</td>
  			</tr>

		  </table>
	<center><h4>Islas Galápagos / Lugares Turísticos / Parte 1<dr></h4></center>
	<center><iframe width="560" height="315" 
	src="https://www.youtube.com/embed/jlfVK7QYVOI" frameborder="0" allow="accelerometer; 
	autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>


</div></article>
	 <aside><div id="divsub2">
             <center><h3>Contenido</h3></center>
           
             <center><h3>Biodiversidad</h3></center>
             <center><p>Galápagos es famoso por su flora y la fauna endémicas, 
		lo que hace de este sitio uno de los paraísos que aún podemos disfrutar en nuestro planeta.</p></center>
	    
	</div></aside>

	 <aside><div id="divsub3">
		<center><h3>Especies Símbolo</h3></center>
     		 <center><p>Tortugas Galápagos.- Existen 10 especies autóctonas en Galápagos, divididas en tres tipos, 
		según su caparazón: en forma de domo, parecidas a una silla de montar y una mezcla de ambas. Tienen más de un metro y 
		medio de largo y pueden pesar hasta 250 kilos.</p></center>
	</div></aside>
</div></section>

<section> <div id="div4">
 <article><div id="subdiv6">

  <center><h2>Calendario de fiestas y eventos</h2></center>

<center><img src="C:\Users\Monik\Documents\Hypermedial\Imagenes\min.jpg"
    		width="300" height="130" alt="texto alternativo de la imagen" /></center>

  <p>Cantonización de Santa Cruz - 23 de marzo.<br></p>
  <p>Cantonización de San Cristóbal - 18 de febrero.<br></p>
<ul>
 <li>desfile cívico y militar</li>
 <li>sesión solemne</li>
 <li>bailes populares</li>
 <li>abanderamiento de la ciudad</li>
 <li>feria agropecuaria</li>
 <li>campeonatos deportivos</li>
 <li>desfiles de moda</li>
 <li>elección de la reina y pregón</li>
</ul>

<p>Cantonización de Isabela - 16 de marzo</p>

</div></article>
<aside>
	<div id="divsub4">
        <center><h3>Contenido</h3></center>
	<p>Turismo Galápagos Playa Sol Arena Mar Información Santa Cruz Isabela Isla Bartolomé Tortuga
		 Iguana Pingüino Vacaciones Grietas Concha Perla Biodiversidad.</p>
	</div>
	</aside>
</div></section>
		
		<!-- Secion Footer -->
		<footer> 
			<div id="div5">
			  <address>
				<center><br>
					Autor: Monica Ptricia Morocho Medina<br> 
					Correo: <a href="mailto:mmorochom8@est.ups.edu.ec?subject=Questions">mmorochom8@est.ups.edu.ec</a><br>
				    Careera: Ing. Sistemas<br> 
					Tel. <a href="tel:2476155">2476155</a>
				</center>
			  </address>
			  <center><p> © Copyright | Totos los derechos reservados</p></center>
			</div>
		</footer>

	</body>
</html>